.container {
  width: 943.214px;
  margin: 60px 240.891px;
  box-shadow: 0 0 10px rgba(rgb(0, 0, 0),0.2);
  background-color: white;
  box-sizing: border-box;
  @media screen and (max-width:480px){
    width: 400px;
    margin: 60px 20px 20px 50px;

  }
  .form__message{
    width: 400px;
    margin-top: 10px;
    margin-left: 280px;
    @media screen and (max-width:480px){
      width: 300px;
      margin-left: 50px;
      border: solid 2px black;
      
  
    }
  }
  .form__submit{
    width: 300px;
    margin-top: 10px;
    margin-left: 330px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #a180dc;
    transition: .4s;
    @media screen and (max-width:480px){
      margin-left: 50px;
      width: 300px;

      
  
    }
  }
  .form__submit:hover{
    background: #91b5fb;
  }

}
.comments {
  padding: 5px;
  margin-top: 15px;
  
  h4{
    text-align: center;
    border-bottom: dotted 2px rgb(0, 81, 255);
  }
  p{
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 90px;
   
  }
  a {
    text-decoration: none;
    color: rgb(124, 211, 226);
    &:hover {
      text-decoration: underline;
    }
  }
  .comment-delete{
    float: right;
    text-decoration: none;
  }
  
}