.form {
  display: inline-block;
  height: 200px;
  width: 700px;
  padding: 20px;
  // box-sizing: border-box;
  background-color: yellow;
  box-shadow: 0 0 10px rgba(rgb(0, 0, 0),0.2);
  margin-top: 150px;
  margin-left: 350px;
  @media screen and (max-width:480px){
    margin-top: 150px;
    margin-left: 20px;
    width: 400px;
    
  }
  
  &__message {
    
    width: 400px;
    height: 35px;
    margin-left: 150px;
    text-align: center;
    margin-top: 10px;
    @media screen and (max-width:480px){
      margin-left: 50px;
      
      width: 300px;
    }
  }
  &__mask {
    width: 400px;
    background-color: yellow;
    margin-left: 150px;
    margin-top: 15px;
    @media screen and (max-width:480px){
      background-color: rgb(223, 235, 160);
      display: inline-block;
      margin-left: 50px;
      width: 300px;
  
    }
    
  }
  //   &__image {
  //     font-size: 20px;
  //     line-height: 50px;
  //   }
  //   .hidden {
  //     display: none;
  //   }
  // }
  &__submit {
    width: 400px;
    // border: none;
    
    margin-left: 150px;
    margin-top: 15px;
    font-size: 16px;
    height: 50px;
    display: inline-block;
    position: relative;
    padding: 0.5em 1.4em;
    text-decoration: none;
    background: #83d8f1;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px #094c79;/*ボタン色より暗めに*/
    border-right: solid 5px #1b6f85;/*ボタン色より暗めに*/
    @media screen and (max-width:480px){
      margin-left: 50px;
      width: 300px;
    }
  }
  &__submit:before{
    content: " ";
    position: absolute;
    bottom: -5px;
    left: -1px;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 0px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #FFF;
  }
  &__submit:after{
    content: " ";
    position: absolute;
    top: -1px;
    right: -5px;
    width: 0;
    height: 0;
    border-width: 0px 6px 6px 0px;
    border-style: solid;
    border-color: #FFF;
    border-bottom-color: transparent;
  }
  &__submit:active{
    border:none;
    -webkit-transform: translate(6px,6px);
    transform: translate(6px,6px);
  }
  &__submit:active:after,&__submit:active:before{
    content: none;/*ボタンを押すと線が消える*/
  }
  &__submit:hover{
    color: red;
    background-color:rgb(8, 87, 189);
    font-size: 20px;
    font-weight: bolder;
  }
}
