-# .wrapper
-#   .header
-#     = render partial: 'tweets/header-top'
-#     = render partial: 'tweets/header-bottom'
-#   .top-page
-#     - @tweets.each do |tweet|
-#       .main-photo{style: "background-image: url(#{tweet.image});"}
     
    